@import "/css/typography.css";
@import "/css/header.css";
@import "/css/footer.css";

body {
  min-height: 100vh;
}

/* Navigation Styling */
#back--home--btn a {
  padding: 0 5rem;
  color: var(--cerulean-light);
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.2s linear color;
}

#back--home--btn a i {
  transition: 0.2s linear transform;
}

#back--home--btn a:hover {
  color: var(--cerulean-dark);
  /* transform: translateX(100px); */
  transition: 0.2s ease-out color;
}

#back--home--btn a:hover i {
  transform: translateX(-10px);
  transition: 0.3s linear transform;
}
/* Main Section */
main#main--post {
  padding: 0 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  justify-content: center;
  margin: auto;
}

/* Image Figure */
figure {
  width: 100%;
  margin: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

figure img {
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

figure figcaption a {
  color: var(--cerulean-darker);
}

main .main--article {
  width: 90%;
}

main .main--article .description {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
}

main .main--article .heading h1 {
  font-family: var(--open-sans);
}
main .main--article .heading p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
}

main .main--article .sub-heading p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
}

main .main--article .sub-heading pre code {
  background-color: #f1f1f1;
  border: 1px solid #e7e7e7;
  display: block;
  padding: 20px;
  color: var(--cerulean-darker);
  font-family: Georgia, "Times New Roman", Times, serif;
}

main .main--article .sub-heading h2 {
  font-family: var(--open-sans);
  color: var(--cerulean-darker);
}

main .main--article .summerize {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.1rem;
}

main .main--article .description .bordered--bottom {
  padding: 0.5rem 0;
  border-bottom: 2px solid #e7e7e7;
}

main .main--article h1 {
  font-family: var(--Roboto);
  font-size: 1.8rem;
  color: var(--cerulean-darker);
}

main .main--article h6 {
  font-size: 1rem;
  color: rgb(211, 211, 211);
  margin: 0;
  font-family: var(--MFont);
}

main .main--article h6 a {
  color: var(--cerulean-light);
}

/* Sidebar */

main#main--post aside {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-family: var(--open-sans);
}

main#main--post aside .author--info {
  width: 100%;
}

main#main--post aside .author--info .author {
  /* height: auto; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
  color: var(--cerulean);
}

main#main--post aside .author--info .author .author--details {
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin: 12px 0;
}

main#main--post aside .author--info .author .author--details > h4,
h5 {
  margin: 5px;
}

main#main--post aside .author--info .author .author--avatar {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: url("https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid var(--cerulean-dark);
}
main#main--post aside .aside--navigator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
main#main--post aside .archives--list,
.social--following ul,
.tags ul {
  list-style-type: none;
}

main#main--post aside .archives {
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 0.9rem 1rem; */
  /* margin: 0 1rem 0 0; */
}

main#main--post aside .archives h3 {
  margin: 1rem 0 0 0;
}

main#main--post aside .archives .archives--list {
  padding: 0;
  font-size: 0.9rem;
}

main#main--post aside .archives .archives--list li a {
  color: var(--cerulean-light);
}

main#main--post aside .social--following ul {
  padding: 0;
  font-size: 0.9rem;
  font-family: var(--MFont);
}

main#main--post aside .social--following ul li a {
  color: var(--cerulean-light);
}

main#main--post aside .tags ul {
  padding: 0;
  font-size: 0.9rem;
}

main#main--post aside .social--following h3 {
  color: var(--cerulean-darker);
}

main#main--post aside .archives h3 {
  color: var(--cerulean-darker);
}

main#main--post aside .tags h3 {
  color: var(--cerulean-darker);
}

main#main--post aside .tags ul li a {
  color: var(--cerulean-light);
}

main#main--post aside .about {
  width: 90%;
  background-color: #f1f1f1;
  padding: 0.4rem 0.8rem;
}

main#main--post aside .about h3 {
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main#main--post aside .about p {
  font-weight: 300;
  font-size: 0.9rem;
}
main#main--post .bordered {
  border: 2px solid #e7e7e7;
  padding: 0.5rem;
}

/* Side Bar  */
.nav--btns {
  padding: 1.6rem 4rem;
}

.nav--btns .older {
  background-color: #fff;
  border: 2px solid var(--cerulean-light);
  color: var(--cerulean-light);
  border-radius: 50px;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
}

.nav--btns .older:hover {
  background-color: var(--cerulean-light);
  color: #ffffff;
  transition: 0.2s linear background-color;
}
.nav--btns .newer {
  background-color: #fff;
  border: 2px solid rgb(224, 224, 224);
  color: rgb(224, 224, 224);
  border-radius: 50px;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
}

/* Responsiveness for desktop screens */
@media screen and (min-width: 901px) {
  main#main--post {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 15px;
  }
  main#main--post aside .author--info .author {
    flex-direction: column;
    align-items: flex-start;
  }
  main#main--post aside .author--info {
    margin-bottom: auto;
  }

  main#main--post aside .aside--navigator {
    flex-direction: column;
    margin-bottom: auto;
  }
  aside div {
    width: 100%;
  }
}
